<div>
  <span class="span-box">

    <span id="deleteIcon" class="delete-span" (click)="deleteWidget(widget)">
      <i class="far fa-trash-alt"></i>
    </span>

    <span id="editIcon" class="edit-span" (click)="editWidget()">
      <i class="fas fa-pencil-alt"></i>
    </span>
  </span>
  <div *ngIf="widget.type === 'heading'">
    Heading: {{widget.data}}
  </div>
  <div *ngIf="widget.type === 'paragraph'">
    Paragraph:{{widget.data}}
  </div>
  <div *ngIf="widget.type === 'link'">
    Link: <a href={{widget.data}}>{{widget.data}}</a>
  </div>

  <div *ngIf="widget.type === 'unorderedList'">
    List:
    <ul>
      <li *ngFor="let item of splitList(widget.data)">{{item}}</li>
    </ul>
  </div>

  <div *ngIf="widget.type === 'orderedList'">
    List:
    <ol>
      <li *ngFor="let item of splitList(widget.data)">{{item}}</li>
    </ol>
  </div>

    <div *ngIf="widget.type === 'heading' && !isEditorHidden">
      <input
        [(ngModel)]="newWidget.data"
        class="form-control"
        placeholder="Heading">
      <button class="btn btn-outline-dark saveBtn" (click)="updateWidget()">Save Heading</button>
    </div>

    <div *ngIf="widget.type === 'paragraph' && !isEditorHidden">
      <textarea
        [(ngModel)]="newWidget.data"
        class="form-control"
        placeholder="Paragraph text">
      </textarea>
      <button class="btn btn-outline-dark saveBtn" (click)="updateWidget()">Save Paragraph</button>
    </div>

    <div *ngIf="widget.type === 'link' && !isEditorHidden">
      <input
        [(ngModel)]="newWidget.data"
        class="form-control"
        placeholder="Link URL">
      <button  class="btn btn-outline-dark saveBtn" (click)="updateWidget()">Save Link</button>
    </div>

    <div *ngIf="(widget.type === 'orderedList' || widget.type === 'unorderedList') && !isEditorHidden">
      <select id="listOrder" class="form-control" [value]="this.newWidget.type" (change)="setListType()" >
        <option value="unorderedList">Unordered list</option>
        <option value="orderedList">Ordered list</option>
      </select>
      <textarea
        [(ngModel)]="newWidget.data"
        class="form-control"
        placeholder="List Item">
            </textarea>
      <button class="btn btn-outline-dark saveBtn" (click)="updateWidget()">Save List</button>
    </div>
</div>
