#editIcon {
  margin-right: 20px;
  cursor: pointer;
}

#deleteIcon {
  cursor: pointer;
}

.saveBtn {
  margin-top: 5px;
}

#listOrder {
  margin-bottom: 5px;
}

.delete-span {
  display: inline-block;
  margin-right: 3px;
  float: right;

}

.edit-span {
  display: inline-block;
  margin-right: 4px;
  float: right;
}
