<div id="footer">
  <div class="input-group-append">
  <h4 id="followMsg">Follow us</h4>
  <div>
    <i class="fab fa-facebook-square fa-2x"></i>
    <i class="fab fa-twitter fa-2x"></i>
    <i class="fab fa-youtube fa-2x"></i>
    <i class="fab fa-instagram fa-2x"></i>
    <i class="fab fa-weixin fa-2x"></i>
    <i class="fab fa-weibo fa-2x"></i>
    <img id="appStore" src="../../assets/images/app_store.png">
    <img id="googlePlay" src="../../assets/images/google_play.png">
    <img id="QRcode" src="../../assets/images/qr-code.png">
  </div>
  </div>
</div>
