#footer {
  background-color: #2e3e48;
  height: 90px;
  width: 100%;
}

#followMsg {
  color: white;
  margin-left: 50px;
  margin-top: 30px;
}

.fab {
  color: white;
  cursor: pointer;
  margin-top: 30px;
}

.fa-facebook-square {
  margin-left: 120px;
}

.fa-twitter {
  margin-left: 20px;
}

.fa-youtube {
  margin-left: 20px;
}

.fa-instagram {
  margin-left: 20px;
}

.fa-weixin {
  margin-left: 20px;
}

.fa-weibo {
  margin-left: 20px;
}


#appStore {
  margin-bottom: 15px;
  margin-left: 80px;
  cursor: pointer;
  height: 50px; width: 160px;
}

#googlePlay {
  margin-bottom: 15px;
  margin-left: 20px;
  cursor: pointer;
  height: 50px; width: 160px;
}

#QRcode {
  height: 75px;
  width: 75px;
  margin-top: -20px;
  margin-left: 50px;
}
