


  <div class="row">
    <div class="col-1 button-rapper">
      <i (click)="onPreviousSearchPosition()" class="left-icon fas fa-chevron-circle-left fa-3x"></i>
    </div>

    <div class="col-10">
      <div #panel class="scrolling-wrapper">
        <div #cardPanel *ngFor="let event of cards" class="card">
          <app-event-main-list-row-card [data]="event"></app-event-main-list-row-card>
        </div>
      </div>
    </div>

    <div class="col-1 button-rapper">
        <i (click)="onNextSearchPosition()" class="right-icon fas fa-chevron-circle-right fa-3x"></i>
    </div>

  </div>


