.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.card {
  display: inline-block;
  border: none;
  width: 350px;
}


.button-rapper {
  text-align: center;

}

.fas {
  /*transform: translateY(-4%);*/
  margin-top: 175px;
}

.left-icon {
  margin-right: -100px;
  cursor: pointer;
  opacity: 0.2;
}

.right-icon {
  cursor: pointer;
  margin-left: -100px;
  opacity: 0.2;
}

.col-10 {
  z-index: 1;
}

.col-1 {
  z-index: 2;
}

.row {
  width: 100%;
}
