.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.card {
  display: inline-block;
  border: none;
  width: 350px;
}


.button-rapper {
  text-align: center;

}

.fas {
  /*transform: translateY(-4%);*/
  margin-top: 175px;
}

.left-icon {
  margin-right: -10%;
}
