.container{
  margin-top: 50px;
  padding: 0;
  /*background-color: rgba(51, 170, 51, .3);*/

}

@media (min-width: 400px) {
  .masonry-item {
    width: 100%;
    padding: 10px;

  }
}

@media (min-width: 770px) {
  .masonry-item {
    width: 50%;
    padding: 10px;

  }
}

@media (min-width: 1000px) {
   .masonry-item {
    width: 33.3%;
    padding: 10px;

  }
}


