<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" routerLink="/admin" (click)="openSiteTab()">
      Sites({{sites.length}})
    </a>
  <li class="nav-item">
    <a class="nav-link" routerLink="/admin" (click)="openCreateSiteTab()">
      Create New Event
    </a>
  </li>
</ul>


<accordion [closeOthers]="true">

  <div *ngIf="siteType === 'site'">
    <accordion-group *ngFor="let site of sites" (isOpenChange)="log(site)">
      <button class="btn btn-link btn-block clearfix" accordion-heading>
        <div class="pull-left float-left">{{site.title}}</div>
      </button>
      <div *ngFor="let alert of alerts">
        <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout" (onClosed)="onClosed(alert)">{{ alert.msg }}</alert>
      </div>
      <div class="input-group-append wrapDiv">
        <label for="providerFld" class="col-sm-2 col-form-label">Site Manager</label>
        <input id="providerFld" [(ngModel)]="siteManager" class="form-control" readonly>
      </div>
      <div class="input-group-append wrapDiv">
        <label for="titleFld" class="col-sm-2 col-form-label">Site Name</label>
        <input id="titleFld" [(ngModel)]="site.title" class="form-control">
      </div>
      <!--<div class="input-group-append wrapDiv">-->
        <!--<label for="tagFld" class="col-sm-2 col-form-label">Site Tags</label>-->
        <!--<textarea id="tagFld" [(ngModel)]="site.tags" class="form-control"></textarea>-->
      <!--</div>-->
      <div class="input-group-append wrapDiv">
        <label for="photoFld" class="col-sm-2 col-form-label">Site Photos</label>
        <textarea id="photoFld" [(ngModel)]="site.photos" class="form-control"></textarea>
      </div>

      <div class="UpdateDeleteBtns">
        <button class="btn btn-success updateBtn" (click)="update(site)">Update</button>
        <button (click)="openModal(deleteConfirm)" class="btn btn-danger">Delete</button>
      </div>

      <ng-template #deleteConfirm>
        <div class="modal-body text-center">
          <p>Are you sure you want to <strong>DELETE</strong> this Site?</p>
          <button type="button" class="btn btn-danger confirmDelete" (click)="delete(site)" >Delete</button>
          <button type="button" class="btn btn-default" (click)="modalRef.hide();" >Cancel</button>
        </div>
      </ng-template>
    </accordion-group>

  </div>

</accordion>

<div *ngIf="siteType === 'admin'" class="adminInput">
  <div *ngFor="let alert of alerts">
    <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout" (onClosed)="onClosed(alert)">{{ alert.msg }}</alert>
  </div>
  <div class="input-group-append wrapDiv">
    <label for="titleFld-adm" class="col-sm-2 col-form-label">Site Name</label>
    <input id="titleFld-adm" [(ngModel)]="newSite.title" class="form-control">
  </div>
  <button (click)="createSite(newSite)" class="btn btn-success">Create Site</button>

</div>
