#pageArea {
  margin-top: 10px;
}

#carousel {
  /*width: 35%;*/
  /*height: 35%;*/
  padding-left: 150px;
  padding-right: 150px;
}

#tag {
  font-size: 15px;
  margin-left: 5px;
}

#amenity_list {
  margin-left: 35px;
}

.amenity_item {
  margin-right: 8px;
}

#learnMore {
  margin-top: 20px;
}


.avatar-container {
  margin-left: 25px;
  display: inline-block;
  width: 50px;
  padding: 0;
}

.avatar {
  padding: 0;
  border-radius: 50%;
  background-image: url('https://images.unsplash.com/photo-1499996860823-5214fcc65f8f?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b6ded683923a678ad03fae323169beb4&auto=format&fit=crop&w=700&q=60');
  width: 100%;
  padding-bottom: 100%;
  background-size: cover;
  background-position: center;
}


#divider {
  height: 30px;
  margin-top: 4px;
  border-right: 1px solid dimgray;
  margin-left: 5px;
  margin-right: 5px;
}


#selectBtn {
  margin-left: 8px;
}


#yesBtn {
  margin-right: 20px;
}

#addtoEventBtn {
  margin-top: 5px;
}
