<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" routerLink="/admin" (click)="openRentalTab()">
      Rentals({{rentals.length}})
    </a>
  <li class="nav-item">
    <a class="nav-link" routerLink="/admin" (click)="openCreateRentalTab()">
      Create New Rentals
    </a>
  </li>
</ul>

<accordion [closeOthers]="true">
  <div *ngIf="rentalType === 'rental'">
    <accordion-group *ngFor="let rental of rentals" (isOpenChange)="log(rental)">
      <button class="btn btn-link btn-block clearfix" accordion-heading>
        <div class="pull-left float-left">
          Equipment:[{{' ' + rental.equipment.title + ' '}}]___Event: [{{' ' + rental.event.title + ' '}}]
        </div>
      </button>
      <div *ngFor="let alert of alerts">
        <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout" (onClosed)="onClosed(alert)">{{ alert.msg }}</alert>
      </div>
      <div class="input-group-append wrapDiv">
        <label for="equipmentFld" class="col-sm-2 col-form-label">Equipment</label>
        <input id="equipmentFld" [(ngModel)]="rental.equipment.title" class="form-control" readonly>
      </div>
      <div class="input-group-append wrapDiv">
        <label for="eventFld" class="col-sm-2 col-form-label">Event</label>
        <input id="eventFld" [(ngModel)]="rental.event.title" class="form-control" readonly>
      </div>

      <div class="UpdateDeleteBtns">
        <button (click)="openModal(deleteConfirm)" class="btn btn-danger">Delete</button>
      </div>

      <ng-template #deleteConfirm>
        <div class="modal-body text-center">
          <p>Are you sure you want to <strong>DELETE</strong> this Rental?</p>
          <button type="button" class="btn btn-danger confirmDelete" (click)="delete(rental)" >Delete</button>
          <button type="button" class="btn btn-default" (click)="modalRef.hide();" >Cancel</button>
        </div>
      </ng-template>

    </accordion-group>
  </div>
</accordion>
