<div class="card text-center"
     (mouseleave) ="mouseLeave()">

    <carousel (activeSlideChange)="slideChanged($event)" data-interval="false" [showIndicators]="!(hasExtraInfo && inImage)">
      <slide *ngFor="let photo of data.photos" >
        <img [ngClass]="{'wbdv-blur': hasExtraInfo && inImage}" src={{photo}} alt="first slide" style="display: block; width: 100%;">
      </slide>
    </carousel>

  <div class="iframe-pos" [ngClass]="{'iframe-pos-active': hasExtraInfo && inImage}">
    <div class="iframe-container">
      <iframe *ngIf="hasExtraInfo && inImage"
              [src]='getIframeSource()'
              frameborder="0"
              scrolling=false
              allow="autoplay; encrypted-media"
              style="overflow:hidden;"
              ></iframe>
    </div>
  </div>

  <div class="card-block">
    <h6 class="card-subtitle mb-2 text-muted">{{data.startTime}}</h6>
    <span class="button-pos">
      <span class="button-container">
         <span (click) = "mouseEnter()">
          <i *ngIf="hasExtraInfo && !inImage"
             class="fab fa-youtube fa-2x"
          ></i>
        </span>
      </span>
    </span>

    <h4 id='title' class="card-title">
      <span>
        <a [routerLink]="['/eventDetail/' + data._id]">{{data.title}}</a>
      </span>
    </h4>
    <div class="card-body">
    <div class="row">
      <div class="avatar-container" *ngIf="organizer.profilePhoto">
        <div class="avatar" [routerLink]="['/profile/' + organizer._id]" [ngStyle]="{'background-image': 'url(' + organizer.profilePhoto + ')'}">
        </div>
      </div>

      <div class="host-info">
        <div class="text-sm-left text-muted">
          Hosted by
          <span>{{organizer && organizer.firstName}}</span>
          <span>{{organizer && ' ' + organizer.lastName}}</span>
        </div>
        <div class="text-sm-left">
          <span class="text-muted">From </span>
          <span>{{organizer.location}}</span>
        </div>
      </div>
    </div>
    </div>
  </div>

</div>
