<nav class="navbar navbar-expand-sm fixed-top navbar-light bg-light">
  <div class="container">
    <img id="logo" src="../../assets/images/logo.png">
    <a id="HuskyCamp" class="navbar-brand" routerLink="/home">HuskyCamp</a>
  <button class="navbar-toggler"
          type="button" data-toggle="collapse"
          data-target="#navbarTogglerDemo02"
          aria-controls="navbarTogglerDemo02"
          aria-expanded="false"
          aria-label="Toggle navigation"
          (click)="toggleCollapsed()"
          >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div id="navbarSupportedContent" [ngClass]="{'collapse': collapsed, 'navbar-collapse': true}">
    <ul class="navbar-nav ml-auto">
      <!--<li class="nav-item">-->
        <!--<a class="nav-link" routerLink="/organization/signUp">Organization SignUp</a>-->
      <!--</li>-->
      <!--<li id="divider" class="divider-vertical"></li>-->
      <li *ngIf="message !== 'login'" class="nav-item">
        <!--<a class="nav-link" href="#">Login</a>-->
        <app-login></app-login>
      </li>
      <li *ngIf="message !== 'login'" class="nav-item">
        <!--<a class="nav-link disabled" href="#">Register</a>-->
        <app-register></app-register>
      </li>
      <!--<li *ngIf="message === 'login'" id="divider" class="divider-vertical"></li>-->
      <li *ngIf="message === 'login'" class="nav-item">
        <a class="nav-link" routerLink="/profile">Profile</a>
      </li>
      <li *ngIf="message === 'login'" class="nav-item">
        <a (click)="logout()" class="nav-link" routerLink="/home">Logout</a>
      </li>
      <li class="nav-item">
        <div class="btn-group" dropdown>
          <i id="menuBtn" dropdownToggle class="nav-link fas fa-ellipsis-h"
                  aria-controls="dropdown-basic">
          </i>
          <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
              role="menu" aria-labelledby="button-basic">
            <li role="menuitem"><a class="dropdown-item" href="eventList">Event List</a></li>
            <li role="menuitem"><a class="dropdown-item" href="search">Site List</a></li>
            <li role="menuitem"><a class="dropdown-item" href="equipmentList">Equipment List</a></li>
            <!--<li class="divider dropdown-divider"></li>-->
            <!--<li role="menuitem"><a class="dropdown-item" href="#">Separated link</a>-->
            <!--</li>-->
          </ul>
        </div>
      </li>
    </ul>
  </div>
  </div>
</nav>
