
<div class="list-container">


  <div class="container">
    <h3>Select features you like</h3>
    <span *ngFor="let tag of featureTags" [ngClass]="{'activeTag': isActiveTag(tag)}" (click)="toggleTags(tag)" class="featureTag badge badge-info">{{tag}}</span>
  </div>

  <hr>

  <div *ngIf="relaxEvent.length > 0">
    <div class="container">
      <h3>Relaxing</h3>
    </div>
    <app-event-main-list-row  [cards]="relaxEvent"></app-event-main-list-row>
  </div>

  <div *ngIf="trainingEvent.length > 0">
    <div class="container">
      <h3>Training</h3>
    </div>
    <app-event-main-list-row [cards]="trainingEvent"></app-event-main-list-row>
  </div>

  <div *ngIf="adventureEvent.length > 0">
    <div class="container">
      <h3>Adventure</h3>
    </div>
    <app-event-main-list-row [cards]="adventureEvent"></app-event-main-list-row>
  </div>

</div>
