.list-container {
  margin-top: 70px;
  margin-bottom: 50px;
}

.featureTag {
  margin: 5px;
}

.activeTag {
  background-color: red;
}

.badge {
  cursor: pointer;
}

.container {
  margin-top: 20px;
}

.list-container h3 {
  margin-bottom: 20px;
  font-family: "Agency FB";
}
