<div>
  <div class="header">
    <h3>Total Following: {{friendList.length}}</h3>
  </div>
  <div class="row">
    <div *ngFor="let people of friendList" class="col-4">
      <!--<div class="card-columns">-->

        <div class="card">
          <div class="card-header">
            <button  *ngIf="isSame" class="button btn btn-outline-danger float-right" (click)="unfollowUser(people._id)">
              Un-follow
            </button>
          </div>
          <div class="card-body">

            <div class="input-group-append">
              <div class="avatar-container">
                <div class="avatar" *ngIf="people.profilePhoto" [ngStyle]="{'background-image': 'url(' + people.profilePhoto + ')'}"></div>
                <div class="avatar" *ngIf="!people.profilePhoto"></div>
              </div>

              <div class="name">
                <div class="text-sm-left">
                  <a class="text-muted" [routerLink]="['/profile/' + people._id]">{{people.username}} </a>
                </div>
              </div>
            </div>



          </div>

        </div>
      <!--</div>-->
    </div>
  </div>
</div>
