<div>
  <div class="header">
    <i class="fas fa-user-friends fa-2x icon"></i>
    <span>(total)</span>
  </div>
  <div class="card-columns">
    <div class="card">
      <div class="avatar-container">
        <div class="avatar" [ngStyle]="{'background-image': 'url(' + user.url + ')'}"></div>
      </div>
      <div class="name">
        <div class="text-sm-left">
          <a class="text-muted" href="#">Tao. J </a>
        </div>
      </div>
      <button class="button btn btn-outline-primary">
        Un-follow
      </button>
    </div>
    <div class="card">
      <div class="avatar-container">
        <div class="avatar" [ngStyle]="{'background-image': 'url(' + user.url + ')'}"></div>
      </div>
      <div class="name">
        <div class="text-sm-left">
          <a class="text-muted" href="#">Tao. J </a>
        </div>
      </div>
      <button class="button btn btn-outline-primary">
        Un-follow
      </button>
    </div>
    <div class="card">
      <div class="avatar-container">
        <div class="avatar" [ngStyle]="{'background-image': 'url(' + user.url + ')'}"></div>
      </div>
      <div class="name">
        <div class="text-sm-left">
          <a class="text-muted" href="#">Tao. J </a>
        </div>
      </div>
      <button class="button btn btn-outline-primary">
        Un-follow
      </button>
    </div>
    <div class="card">
      <div class="avatar-container">
        <div class="avatar" [ngStyle]="{'background-image': 'url(' + user.url + ')'}"></div>
      </div>
      <div class="name">
        <div class="text-sm-left">
          <a class="text-muted" href="#">Tao. J </a>
        </div>
      </div>
      <button class="button btn btn-outline-primary">
        Un-follow
      </button>
    </div>
    <div class="card">
      <div class="avatar-container">
        <div class="avatar" [ngStyle]="{'background-image': 'url(' + user.url + ')'}"></div>
      </div>
      <div class="name">
        <div class="text-sm-left">
          <a class="text-muted" href="#">Tao. J </a>
        </div>
      </div>
      <button class="button btn btn-outline-primary">
        Un-follow
      </button>
    </div>

  </div>
</div>
