<div>
  <div class="header">
    <i class="fas fa-user-friends fa-2x icon"></i>
    <span>(Total: {{following.length}})</span>
  </div>
  <div *ngFor="let people of followingInfo">
    <div class="card-columns">
      <div class="card">
        <div class="avatar-container">
          <div class="avatar" *ngIf="people.profilePhoto" [ngStyle]="{'background-image': 'url(' + people.profilePhoto + ')'}"></div>
          <div class="avatar" *ngIf="!people.profilePhoto"></div>
        </div>
        <div class="name">
          <div class="text-sm-left">
            <a class="text-muted" [routerLink]="['/profile/' + people._id]">{{people.username}} </a>
          </div>
        </div>
        <button  *ngIf="isSame" class="button btn btn-outline-primary" (click)="unfollowUser(people._id)">
          Un-follow
        </button>
      </div>
    </div>
  </div>
</div>
