<a class="nav-link" routerLink="" (click)="openLogin(login)">Login</a>

<ng-template #register>
  <div class="modal-header">
    <h4 id="signUpHeader" class="modal-title pull-left">Sign Up</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="registerWindow.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-header">
    <div>
      <span id="organizationMsg">Organization User?</span>
      <a id="organizationLink" routerLink="/organization/signUp" (click)="closeRegister()">Sign Up as Organization</a>
    </div>
  </div>
  <div class="modal-body">
    <div *ngFor="let alert of alerts">
      <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout" (onClosed)="onClosed(alert)">{{ alert.msg }}</alert>
    </div>
    <div>
      <span id="regisMsg">Already a member?</span>
      <a id="loginLink" routerLink="/login" (click)="openLogin(login)">Login</a>
    </div>
    <input [(ngModel)]="username" id="usernameFld" class="form-control" placeholder="Username">
    <input [(ngModel)]="password" id="passwordFld" class="form-control" placeholder="Password">
    <input [(ngModel)]="password2" id="confirmPasswordFld" class="form-control" placeholder="Confirm Password">
    <div id="locationBlock">
      <i id="mapPinIcon" class="fas fa-map-marker-alt"></i>
      <span>{{location}}</span>
      <p id="locationMsg">We'll use your location to find events near you.</p>
    </div>
    <button (click)="registerUser(username, password, password2, location)" id="continueBtn" class="btn btn-block btn btn-danger">Continue</button>
  </div>
</ng-template>

<ng-template #login>
  <div class="modal-header">
    <h4 id="loginHeader" class="modal-title pull-left">Login</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="loginWindow.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div *ngFor="let alert of alerts">
      <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout" (onClosed)="onClosed(alert)">{{ alert.msg }}</alert>
    </div>
    <div>
      <span id="loginMsg">Don't have an account?</span>
      <a id="signUpLink" routerLink="/login" (click)="openRegister(register)">Sign Up</a>
    </div>
    <input [(ngModel)]="username" id="loginUsernameFld" class="form-control" placeholder="Username">
    <input [(ngModel)]="password" id="loginPasswordFld" class="form-control" placeholder="Password">
    <div id="loginType" class="input-group-append">
      <li class="list-group-item form-control">{{loginType}}</li>
      <div class="btn-group" dropdown>
        <button id="button-basic" dropdownToggle type="button" class="btn btn-danger dropdown-toggle"
                aria-controls="dropdown-basic">
          Select Login Type
        </button>
        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
            role="menu" aria-labelledby="button-basic">
          <li role="menuitem"><a (click)="loginType = 'Personal'" class="dropdown-item">Personal</a></li>
          <li role="menuitem"><a (click)="loginType = 'Organization'" class="dropdown-item">Organization</a></li>
        </ul>
      </div>
    </div>
    <button (click)="loginUser(username, password)" id="loginContinueBtn" class="btn btn-block btn btn-danger">Continue</button>
  </div>
</ng-template>
