/*register*/
#regisMsg span {
  color: gray;
  margin-right: 20px;
}

#regisMsg {
  margin-top: 20px;
  margin-left: 120px;
}

#usernameFld {
  margin-top: 15px;
}

#passwordFld {
  margin-top: 15px;
}

#confirmPasswordFld {
  margin-top: 15px;
}

#continueBtn {
  margin-top: 15px;
}

#loginLink {
  color: cornflowerblue;
}

#organizationLink {
  color: cornflowerblue;
}

#organizationMsg {
  color: gray;
  margin-right: 20px;
}

#mapPinIcon {
  margin-right: 8px;
}

#locationBlock {
  margin-top: 10px;
}

#locationMsg {
  margin-top: 10px;
  color: gray;
}

/*login*/
#loginMsg span {
  color: gray;
  margin-right: 20px;
}

#loginMsg {
  margin-top: 20px;
  margin-left: 100px;
}

#signUpLink {
  color: cornflowerblue;
}

#loginUsernameFld {
  margin-top: 15px;
}

#loginPasswordFld {
  margin-top: 15px;
}

#loginContinueBtn {
  margin-top: 30px;
}

#loginType {
  margin-top: 15px;
}

.dropdown-item {
  cursor: pointer;
}

#loginNavLink {
  cursor: pointer;
}



