<div class="container-fluid">

  <div id="pageArea" class="jumbotron">
    <h1 id="cground_name" class="display-4">Name of CampingSite<span id="tag" class="badge badge-secondary">tag</span></h1>
    <p id="cground_address" class="lead">This is a simple CampingSite Address. CampingSite Address will appear here.</p>
    <hr class="my-4">
    <p id="cground_description">This is an example of Site Descripion. A paragraph of Description data will appear here.
      This is an example of Site Descripion. A paragraph of Description data will appear hereThis
      is an example of Site Descripion. A paragraph of Description data will appear hereThis is an
      example of Site Descripion. A paragraph of Description data will appear hereThis is an example
      of Site Descripion. A paragraph of Description data will appear here</p>
    <div id="carousel">
      <carousel>
        <slide>
          <img src="../../assets/images/background-img.jpeg" alt="first slide" style="display: block; width: 100%;">
          <div class="carousel-caption d-none d-md-block">
            <h3>First slide label</h3>
            <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
          </div>
        </slide>
        <slide>
          <img src="../../assets/images/backGround_image_2.jpg" alt="second slide" style="display: block; width: 100%;">
          <div class="carousel-caption d-none d-md-block">
            <h3>Second slide label</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
        </slide>
        <slide>
          <img src="../../assets/images/backGround_image_3.jpg" alt="third slide" style="display: block; width: 100%;">
          <div class="carousel-caption d-none d-md-block">
            <h3>Third slide label</h3>
            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
          </div>
        </slide>
      </carousel>
    </div>
    <hr class="my-4">
    <div id="amenity_list">
      <h5>Amenities :</h5>
      <span class="badge badge-secondary amenity_item">Biking</span>
      <span class="badge badge-secondary amenity_item">Horseback Riding</span>
      <span class="badge badge-secondary amenity_item">Comfort Station</span>
      <span class="badge badge-secondary amenity_item">Group Campground</span>
      <span class="badge badge-secondary amenity_item">Interpretitive Programs</span>
      <span class="badge badge-secondary amenity_item">Nature Study Exhibits</span>
      <span class="badge badge-secondary amenity_item">Nature Study Exhibits</span>
      <span class="badge badge-secondary amenity_item">Nature Study Exhibits</span>
      <span class="badge badge-secondary amenity_item">Nature Study Exhibits</span>
      <span class="badge badge-secondary amenity_item">Nature Study Exhibits</span>
      <span class="badge badge-secondary amenity_item">Nature Study Exhibits</span>
      <span class="badge badge-secondary amenity_item">Nature Study Exhibits</span>
      <span class="badge badge-secondary amenity_item">Nature Study Exhibits</span>
    </div>
    <hr class="my-4">
    <div class="container-fluid">
      <h5>Weather Forecast</h5>
      <p>Weather info will appear here.</p>
    </div>
    <hr class="my-4">
    <p id="cground_contact" class="lead">Contact info will appear here</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </div>


</div>




