<!--<div class="card">-->
<!--<img class="card-img-top" src='https://images.unsplash.com/photo-1505232070786-2f46d15f9f5e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=8d0b72c290cbac7926edb604b1f40793&auto=format&fit=crop&w=800&q=60' alt="Card image cap">-->

<!--</div>-->
<div>
  <div class="main-background">
    <div class="row">
      <div class="avatar-container">
        <div class="avatar" [ngStyle]="{'background-image': 'url(' + user.profilePhoto + ')'}">
        </div>
      </div>
      <h2 *ngIf="user.role !== 'SiteManager' && user.role !== 'EquipmentDealer'"
          class="main-text">{{user.firstName}} {{user.lastName}}</h2>
      <h2 *ngIf="user.role === 'SiteManager' || user.role === 'EquipmentDealer'"
          class="main-text">{{provider.organizationName}}</h2>
    </div>

    <div class = 'btn-position' *ngIf="user.role === 'organizer' || user.role === 'attendee'">
      <button *ngIf="!isFollowed" (click)="followUser()" class="btn btn-primary">Follow</button>
      <button *ngIf="isFollowed" (click)="unfollowUser()" class="btn btn-primary">Un-Follow</button>
    </div>

  </div>

  <div class="botton-background" *ngIf="user.role === 'organizer' || user.role === 'attendee'">
    <div class="input-group-append">
      <div class="col-sm grid-item" [ngClass]="{'active': curPage === 'oa'}">
        <a (click)="setCurPage('oa')" class="nav-links">Organized Activities</a>
      </div>
      <div class="col-sm grid-item" [ngClass]="{'active': curPage === 'pa'}">
        <a (click)="setCurPage('pa')" class="nav-links">Participating Activities</a>
      </div>
      <div class="col-sm grid-item" [ngClass]="{'active': curPage === 'ff'}">
        <a (click)="setCurPage('ff')" class="nav-links">Following</a>
      </div>
      <div class="col-sm grid-item" [ngClass]="{'active': curPage === 'ds'}">
        <a (click)="setCurPage('ds')" class="nav-links">Discussions</a>
      </div>
    </div>
  </div>

  <div *ngIf="user.role === 'SiteManager' || user.role === 'EquipmentDealer'">
    <div class="botton-background">
      <div class="input-group-append">
        <div class="col-sm grid-item" [ngClass]="{'active': curPage === 'sl'}"  *ngIf="user.role === 'SiteManager'">
          <a (click)="setCurPage('sl')" class="nav-links">Sites List</a>
        </div>
        <div class="col-sm grid-item" [ngClass]="{'active': curPage === 'pa'}" *ngIf="user.role === 'EquipmentDealer'">
          <a (click)="setCurPage('el')" class="nav-links">Equipments List</a>
        </div>
        <div class="col-sm grid-item" [ngClass]="{'active': curPage === 'rt'}">
          <a (click)="setCurPage('rt')" class="nav-links">Renting</a>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <app-events-list-for-profile *ngIf="user.role === 'organizer' || user.role === 'attendee' && curPage === 'oa'" [type] = 'curPage' [events]="organizedEvents" [isSame] = "isSame"></app-events-list-for-profile>
    <app-events-list-for-profile *ngIf="user.role === 'organizer' || user.role === 'attendee' && curPage === 'pa'" [type] = 'curPage' [events]="attendedEvents" [isSame] = "isSame"></app-events-list-for-profile>
    <app-friend-list *ngIf="user.role === 'organizer' || user.role === 'attendee' && curPage === 'ff'" [user] = user></app-friend-list>
    <app-discussion-list-for-profile *ngIf="user.role === 'organizer' || user.role === 'attendee' && curPage === 'ds'" [discussions]="discussions" [isSame] = "isSame" [userId] = "user._id"></app-discussion-list-for-profile>
    <app-site-list-for-profile *ngIf="user.role === 'SiteManager' && curPage === 'sl'" [isSame] = "isSame" [sites]="mySites"></app-site-list-for-profile>
    <app-renting-list-for-profile *ngIf="user.role === 'SiteManager' || user.role === 'EquipmentDealer' && curPage === 'rt'" [isSame] = "isSame"></app-renting-list-for-profile>
  </div>

</div>




