.organization-background {
  background-image: url(../../assets/images/orgSingUpBG.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 360px;

}

#organization-body {
  margin-left: 300px;
  margin-right: 300px;
}

#organization-text {
  text-align: center;
  padding-top: 200px;
  text-shadow: 0 8px 8px rgba(0,0,0,0.9),
  0 8px 13px rgba(0,0,0,0.8),
  0 8px 23px rgba(0,0,0,0.8);
}

#organization-text h5 {
  font-weight: 700;
  font-family: 'Lato';
  color: white;
  font-size: 3em
}

#organization-text h3 {
  font-family: 'Lato';
  color: white
}

#step-1 {
  margin-top: 30px;
  margin-bottom: 10px;
}

#step-1 span {
  font-size: 2em;
}

#step-1 p {
  color: gray;
}

#step-1 button {
  margin-top: 10px;
}

#step-1 img {
  margin-right: 10px;
}

#usernameFld {
  margin-top: 10px;
}

#passwordFld {
  margin-top: 10px;
}

#confirmPasswordFld {
  margin-top: 10px;
}

#step-2 {
  margin-top: 40px;
}

#step-2 p {
  color: gray;
}

#step-2 span {
  font-size: 2em;
}

#step-2 img {
  margin-right: 10px;
}

#step-2 button {
  margin-top: 10px;
}

#organizationNameFld {
  margin-top: 10px;
}

#step-3 {
  margin-top: 40px;
}

#step-3 p {
  color: gray;
}

#step-3 span {
  font-size: 2em;
}

#step-3 button {
  margin-top: 10px;
}

#step-3 img {
  margin-right: 10px;
}

#organizationAddressFld {
  margin-top: 10px;
}

#step-4 {
  margin-top: 40px;
  margin-bottom: 40px;
}

#step-4 p {
  color: gray;
}

#step-4 span {
  font-size: 2em;
}

#step-4 button {
  margin-top: 10px;
}

#step-4 img {
  margin-right: 10px;
}

#step-4 li {
  margin-top: 10px;
}

#organizationServiceFld {
  margin-top: 10px;
}
