#pageArea {
  margin-top: 10px;
}

#carousel {
  /*width: 35%;*/
  /*height: 35%;*/
  padding-left: 150px;
  padding-right: 150px;
}

#tag {
  font-size: 15px;
  margin-left: 5px;
}

#amenity_list {
  margin-left: 35px;
}

.amenity_item {
  margin-right: 8px;
}

#learnMore {
  margin-top: 20px;
}


.avatar-container {
  display: inline-block;
  width: 50px;
  padding: 0;
  margin-left: 25px;
}

.avatar {
  padding: 0;
  border-radius: 50%;
  background-image: url('https://images.unsplash.com/photo-1499996860823-5214fcc65f8f?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b6ded683923a678ad03fae323169beb4&auto=format&fit=crop&w=700&q=60');
  width: 100%;
  padding-bottom: 100%;
  background-size: cover;
  background-position: center;
}


#editIcon {
  margin-top: 25px;
  margin-left: 40px;
  color: #e4606d;
  cursor: pointer;
}

.fields {
  margin-bottom: 10px;
}

#dragInfo {
  margin-left: 20px;
  margin-top: 5px;
}

.content-of-modal .card {
  background-color: #9fcdff;
  margin: 5px;
  padding: 10px;
}


.content-of-modal .delete-span {
  display: inline-block;
  margin-right: 3px;
  float: right;

}

.content-of-modal .edit-span {
  display: inline-block;
  margin-right: 4px;
  float: right;
}



#imgUrlList {
  margin-bottom: 5px;
}

#yesBtn {
  margin-right: 20px;
}

.widgetFields {
  margin-top: 20px;
}

#addParaBtn {
  margin-top: 5px;
}


#addListBtn {
  margin-top: 5px;
}


#desYesBtn {
  margin-right: 15px;
}

.featureTag {
  cursor: pointer;
  margin-right: 5px;
  margin-top: 10px;
}

#tagsDisplay {
  margin-left: 30px;
}

.badge {
  cursor: pointer;
}

.host-info {
  margin-left: 30px;
  margin-top: 20px;
}
