
.content-of-modal .card {
  background-color: #9fcdff;
  margin: 5px;
  padding: 10px;
}

.content-of-modal .span-box {

}

.content-of-modal .delete-span {
  display: inline-block;
  margin-right: 3px;
  float: right;

}

.content-of-modal .edit-span {
  display: inline-block;
  margin-right: 4px;
  float: right;
}



.meta-div {
  margin-top: 50px;
}

.media-container {
  border: none;
  /*max-height: 300px;*/
}

.avatar-container {
  margin-left: 10%;
  margin-bottom: 8px;
  display: inline-block;
  width: 50px;
  padding: 0;
}

.avatar {
  padding: 0;
  border-radius: 50%;
  background-image: url('https://images.unsplash.com/photo-1499996860823-5214fcc65f8f?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b6ded683923a678ad03fae323169beb4&auto=format&fit=crop&w=700&q=60');
  width: 100%;
  padding-bottom: 100%;
  background-size: cover;
  background-position: center;
}

.carousel-container {
  border-radius: 25px;
  -webkit-border-radius: 20px;

  position: relative;
  /*overflow: hidden;*/
  top: 0;
  width: 100%;
  height: 100%;
}

carousel {
  width: 100%;
  height: 100%;
  position: relative;
}

/*.slide {*/
/*width: 100%;*/
/*height: 100%;*/
/*position: relative;*/
/*}*/


.image  {
  padding: 0;
  border: #1b1e21 solid 2px;
  border-radius: 25px;
  background-image: url('https://images.unsplash.com/photo-1499996860823-5214fcc65f8f?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b6ded683923a678ad03fae323169beb4&auto=format&fit=crop&w=700&q=60');
  width: 100%;
  height: 100%;
  padding-bottom: 100%;
  background-size: cover;
  background-position: center;

}

.event-meda {
  border: none;
}

.iframe-pos {
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  /*border-radius: 25px;*/
}

.iframe-container {
  border-radius: 25px;
  -webkit-border-radius: 20px;
  /*position: absolute;*/
  position: relative;
  overflow: hidden;
  top: 0;
  width: 100%;
  height: 100%;
}

iframe {
  width:100%;
  height:100%;

}

.button-container i {
  color: red;
  text-shadow: 2px 2px 2px #aaa;
}
