<div id="menu">
  <div id="title" class="input-group-append container-fluid">
    <h1>Admin Dashboard</h1>
    <p>Control panel</p>
  </div>
  <div class="row" style="width: 100%">


    <div id="cardList" class="col-3">
      <!--<div class="scrolling-wrapper">-->

      <div class="card text-white bg-info">
        <div class="card-header input-group-append">
          <h4>User</h4>
        </div>
        <div class="card-body">
          <h2 class="card-title">Total Users : {{personalUsers.length + providers.length}}</h2>
          <a class="arrow" (click)="openUserList()" routerLink="/admin">
            More Info
            <i class="fas fa-arrow-circle-right"></i>
          </a>
        </div>
      </div>

      <div class="card text-white bg-warning">
        <div class="card-header">
          <h4>Event</h4>
        </div>
        <div class="card-body">
          <h2 class="card-title">Total Events : {{events.length}}</h2>
          <a class="arrow" (click)="openEventList()" routerLink="/admin">
            More Info
            <i class="fas fa-arrow-circle-right"></i>
          </a>
        </div>
      </div>

      <div class="card text-white bg-secondary">
        <div class="card-header">
          <h4>Equipments</h4>
        </div>
        <div class="card-body">
          <h3 class="card-title">Total Equipments : {{equipments.length}}</h3>
          <a class="arrow" (click)="openEquipmentList()" routerLink="/admin">
            More Info
            <i class="fas fa-arrow-circle-right"></i>
          </a>
        </div>
      </div>

      <div class="card text-white bg-success">
        <div class="card-header">
          <h4>Discussions</h4>
        </div>
        <div class="card-body">
          <h3 class="card-title">Total Discussions : {{discussions.length}}</h3>
          <a class="arrow" (click)="openDiscussionList()" routerLink="/admin">
            More Info
            <i class="fas fa-arrow-circle-right"></i>
          </a>
        </div>
      </div>

      <div class="card text-white bg-danger">
        <div class="card-header">
          <h4>CampSites</h4>
        </div>
        <div class="card-body">
          <h3 class="card-title">Total CampSites : {{sites.length}}</h3>
          <a class="arrow" (click)="openSiteList()" routerLink="/admin">
            More Info
            <i class="fas fa-arrow-circle-right"></i>
          </a>
        </div>
      </div>

      <div class="card text-white bg-dark">
        <div class="card-header">
          <h4>Enrollments</h4>
        </div>
        <div class="card-body">
          <h3 class="card-title">Total Enrollments : {{enrollments.length}}</h3>
          <a class="arrow" (click)="openEnrollmentList()" routerLink="/admin">
            More Info
            <i class="fas fa-arrow-circle-right"></i>
          </a>
        </div>
      </div>

      <div class="card text-white bg-primary">
        <div class="card-header">
          <h4>Reservations</h4>
        </div>
        <div class="card-body">
          <h3 class="card-title">Total Reservations : {{reservations.length}}</h3>
          <a class="arrow" (click)="openReservationList()" routerLink="/admin">
            More Info
            <i class="fas fa-arrow-circle-right"></i>
          </a>
        </div>
      </div>

      <div class="card text-white" style="background-color: #6f42c1">
        <div class="card-header">
          <h4>Rentals</h4>
        </div>
        <div class="card-body">
          <h3 class="card-title">Total Rentals : {{rentals.length}}</h3>
          <a class="arrow" (click)="openRentalList()" routerLink="/admin">
            More Info
            <i class="fas fa-arrow-circle-right"></i>
          </a>
        </div>
      </div>

    <!--</div>-->
    </div>


    <div class="col-9">
      <app-user-list *ngIf="listType === 'userList'" (messageEvent)="receiveMessage($event)"></app-user-list>
      <app-admin-event-list *ngIf="listType === 'eventList'" (messageEvent)="receiveMessage($event)"></app-admin-event-list>
      <app-admin-equipment-list *ngIf="listType === 'equipmentList'" (messageEvent)="receiveMessage($event)"></app-admin-equipment-list>
      <app-admin-discussion-list *ngIf="listType === 'discussionList'" (messageEvent)="receiveMessage($event)"></app-admin-discussion-list>
      <app-admin-site-list *ngIf="listType === 'siteList'" (messageEvent)="receiveMessage($event)"></app-admin-site-list>
      <app-admin-enrollment-list *ngIf="listType === 'enrollmentList'" (messageEvent)="receiveMessage($event)"></app-admin-enrollment-list>
      <app-admin-reservation-list *ngIf="listType === 'reservationList'" (messageEvent)="receiveMessage($event)"></app-admin-reservation-list>
    </div>
  </div>
</div>


