<div class="container">
  <div class="card">
    <div class="card-body">
      <h6 class="card-subtitle mb-2 text-muted">step 1</h6>
      <h5 class="card-title">What's your new Camping position?</h5>

      <input
        [(ngModel)]="campSite"
        class="form-control"
        placeholder="Type your camping site">

      <button type="button" class="btn btn-danger nextBtn" (click)="isCollapsed1 = !isCollapsed1"
              [disabled]="!campSite"
              [attr.aria-expanded]="!isCollapsed1" aria-controls="collapseBasic">Next
      </button>

    </div>
  </div>


  <div  id="collapseBasic" [collapse]="isCollapsed1">
    <hr>
    <div class="card">
      <div class="card-body">
        <h6 class="card-subtitle mb-2 text-muted">step 2</h6>
        <h5 class="card-title">What's your camping event featured for?</h5>

        <span *ngFor="let tag of featureTags" (click)="toggleFeatureTag(tag)" class="featureTag badge badge-info">{{tag}}</span>
        <hr>
        <div id="amenity_list">
          <span *ngFor="let tag of tags" (click)="toggleEventTag(tag)" class="badge badge-info amenity_item">{{tag}}</span>
        </div>
        <div>
          <hr *ngIf="tags.length !== 0">
          <button type="button" class="btn btn-danger" (click)="isCollapsed2 = !isCollapsed2"
                  [attr.aria-expanded]="!isCollapsed2" aria-controls="collapseBasic2">Next
          </button>
        </div>
      </div>
    </div>
  </div>

  <div id="collapseBasic2" [collapse]="isCollapsed2">
    <hr>
    <div class="card">
      <div class="card-body">
        <h6 class="card-subtitle mb-2 text-muted">step 3</h6>
        <div id="titleDiv">
          <h5 class="card-title">What will your event name be?</h5>
          <input
            [(ngModel)]="title"
            class="form-control"
            placeholder="Event Title">
        </div>
        <hr>
        <div id="timeDiv">
          <h5 class="card-title"> Choose your event time stamp.</h5>
          <div class="input-group-append">
            <label for="startTime" class="col-sm-2 col-form-label">Event Starts:</label>
            <input type="text"
                   [(ngModel)]="eventStart"
                   placeholder="Start Time"
                   class="form-control"
                   id="startTime"
                   [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }"
                   bsDatepicker>
          </div>
          <hr>
          <div class="input-group-append">
            <label for="endTime" class="col-sm-2 col-form-label">Event Ends:</label>
            <input type="text"
                   [(ngModel)]="eventEnd"
                   placeholder="End Time"
                   class="form-control"
                   id="endTime"
                   [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }"
                   bsDatepicker>
          </div>
        </div>
        <hr>
        <h5 class="card-title">Describe who should join, and what your event will do.</h5>
        <textarea
          [(ngModel)]="paragraph"
          class="form-control"
          placeholder="Paragraph text">
        </textarea>
        <div>
          <button id="createBtn" type="button" class="btn btn-danger" (click)="createEvent()"
                  [attr.aria-expanded]="!isCollapsed3" aria-controls="collapseBasic3">Create
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

