<div>
  <h2>Attendees: </h2>
  <div class="row" *ngIf="isDataLoaded">
    <div class="card text-center col-sm-2" *ngFor="let attendee of attendees">
      <div>
        <div class="avatar-container" *ngIf="attendee.profilePhoto">
          <div class="avatar" [ngStyle]="{'background-image': 'url(' + attendee.profilePhoto + ')'}">
          </div>
        </div>
        <div class="text-sm-left text-muted">
          <span>{{ attendee.username}}</span>
          <span>{{ attendee.firstName}}</span>
          <span>{{ attendee.lastName}}</span>
        </div>

      </div>
    </div>
  </div>
</div>

