<!--<div class="card">-->
<!--<img class="card-img-top" src='https://images.unsplash.com/photo-1505232070786-2f46d15f9f5e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=8d0b72c290cbac7926edb604b1f40793&auto=format&fit=crop&w=800&q=60' alt="Card image cap">-->

<!--</div>-->
<div>
  <div class="main-background">
    <div class="row">
      <div class="avatar-container">
        <div class="avatar">
        </div>
      </div>
      <h2 *ngIf="user.role !== 'SiteManager' && user.role !== 'EquipmentDealer'"
          class="main-text">{{user.firstName}} {{user.lastName}}</h2>
      <h2 *ngIf="user.role === 'SiteManager' || user.role === 'EquipmentDealer'"
          class="main-text">{{provider.organizationName}}</h2>
    </div>

    <div class="button-group" >
      <button (click)="goCreateEvent()">Post A New Event</button>
      <button>Attend A New Event</button>
      <button (click)="goCreateSite()">Post A New Site</button>
      <button>Pick a site for your event</button>
      <button (click)="goCreateEquipments()">Post A New Equipment</button>
      <button>Pick equipments for your event</button>
    </div>

  </div>

  <div class="botton-background">
    <div class="input-group-append">
      <div class="col-sm grid-item">
        <a href="#">Private Info</a>
      </div>
      <div class="col-sm grid-item">
        <a href="#">OR</a>
      </div>
      <div class="col-sm grid-item">
        <a href="#">AT</a>
      </div>
      <div class="col-sm grid-item">
        <a href="#">Friends</a>
      </div>
      <div class="col-sm grid-item">
        <a href="#">Reviews</a>
      </div>
    </div>
  </div>

  <div class="container">
    <app-friend-list></app-friend-list>
    <app-basic-information (messageEvent)="receiveMessage($event)"></app-basic-information>
  </div>

  <div class="container">
    <div> My Hosted Events</div>
    <div *ngFor="let event of hostedEvents">
      <div class="card">
        {{event.title}}
        <a [routerLink]="['/eventEditor/' + event._id]">Edit</a>
        <button (click)="deleteHostedEvent(event)" class="btn btn-danger">Delete</button>
      </div>
    </div>
  </div>

  <div class="container">
    <div> My Enrolled Events</div>
    <div *ngFor="let event of enrolledEvents">
      <div class="card">
        {{event.title}}
        <a [routerLink]="['/eventDetail/' + event._id]">View</a>
        <!--<button (click)="deleteHostedEvent(event)" class="btn btn-danger">Delete</button>-->
      </div>
    </div>
  </div>

  <div class="container">
    <div> My Equipments</div>
    <a [routerLink]="['/equipmentEditor']">Edit</a>
    <div *ngFor="let equipment of myEquipments">
      <div class="card">
        {{equipment.title}}
        <!--<a [routerLink]="['/eventDetail/' + event._id]">View</a>-->
        <!--<button (click)="deleteHostedEvent(event)" class="btn btn-danger">Delete</button>-->
      </div>
    </div>
  </div>

  <div class="container">
    <div> My Sites</div>

    <div *ngFor="let site of mySites">
      <div class="card">
        <a [routerLink]="['/siteEditor/' + site._id]">Edit</a>
        {{site.title}}
        <!--<a [routerLink]="['/eventDetail/' + event._id]">View</a>-->
        <!--<button (click)="deleteHostedEvent(event)" class="btn btn-danger">Delete</button>-->
      </div>
    </div>
  </div>
</div>




