<!--<div class="card">-->
<!--<img class="card-img-top" src='https://images.unsplash.com/photo-1505232070786-2f46d15f9f5e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=8d0b72c290cbac7926edb604b1f40793&auto=format&fit=crop&w=800&q=60' alt="Card image cap">-->

<!--</div>-->
<div>
  <div class="main-background">
    <div class="input-group-append">
      <div class="avatar-container">
        <div class="avatar" *ngIf="user.profilePhoto" [ngStyle]="{'background-image': 'url(' + user.profilePhoto + ')'}"></div>
      </div>
      <div>
        <h2 *ngIf="user.role !== 'SiteManager' && user.role !== 'EquipmentDealer'"
            class="main-text">{{user.firstName}} {{user.lastName}}</h2>
        <h2 *ngIf="user.role === 'SiteManager' || user.role === 'EquipmentDealer'"
            class="main-text">{{provider.organizationName}}</h2>
      </div>

    </div>
    <div class = 'btn-position2 col-auto'>
      <button *ngIf="user.role === 'organizer'" (click)="goCreateEvent()" class="btn btn-dark">Post A New Event</button>
      <button *ngIf="user.role === 'attendee'" (click)="goEventList()" class="btn btn-dark">Attend A New Event</button>
      <button *ngIf="user.role === 'SiteManager'" (click)="goCreateSite()" class="btn btn-dark">Post A Site</button>
      <button *ngIf="user.role === 'EquipmentDealer'" (click)="goCreateEquipments()" class="btn btn-dark">Post A New Equipment</button>
    </div>


    <div class = 'btn-position'>
      <div *ngIf="user.role === 'organizer' || user.role === 'attendee'">
        <div class="input-group-append">
        <div  id="roleFld-att" class="list-group-item form-control">{{user.role}}</div>
        <div class="btn-group" dropdown>
          <button id="button-basic-att" dropdownToggle type="button" class="btn btn-outline-dark dropdown-toggle"
                  aria-controls="dropdown-basic-att">
            Switch Role
          </button>
          <ul id="dropdown-basic-att" *dropdownMenu class="dropdown-menu"
              role="menu" aria-labelledby="button-basic">
            <li role="menuitem" class="switchItem"><a (click)="switchOrganizerToAttendee()" class="dropdown-item">Attendee</a></li>
            <li role="menuitem" class="switchItem"><a (click)="switchAttendeeToOrganizer()" class="dropdown-item">Organizer</a></li>
          </ul>
        </div>
        </div>
      </div>


    </div>
  </div>

  <div *ngIf="user.role === 'organizer' || user.role === 'attendee'">
  <div class="botton-background">
    <div class="input-group-append">
      <div class="col-sm grid-item" [ngClass]="{'active': curPage === 'pi'}">
        <a (click)="setCurPage('pi')" class="nav-links">Personal Info</a>
      </div>
      <div class="col-sm grid-item" [ngClass]="{'active': curPage === 'oa'}">
        <a (click)="setCurPage('oa')" class="nav-links">Organized Events</a>
      </div>
      <div class="col-sm grid-item" [ngClass]="{'active': curPage === 'pa'}">
        <a (click)="setCurPage('pa')" class="nav-links">Attended Events</a>
      </div>
      <div class="col-sm grid-item" [ngClass]="{'active': curPage === 'ff'}">
        <a (click)="setCurPage('ff')" class="nav-links">Following</a>
      </div>
      <div class="col-sm grid-item" [ngClass]="{'active': curPage === 'ds'}">
        <a (click)="setCurPage('ds')" class="nav-links">Discussions</a>
      </div>
    </div>
  </div>
  </div>


  <div *ngIf="user.role === 'SiteManager' || user.role === 'EquipmentDealer'">
    <div class="botton-background">
      <div class="input-group-append">
        <div class="col-sm grid-item" [ngClass]="{'active': curPage === 'pi'}">
          <a (click)="setCurPage('pi')" class="nav-links">Private Info</a>
        </div>
        <div class="col-sm grid-item" [ngClass]="{'active': curPage === 'sl'}"  *ngIf="user.role === 'SiteManager'">
          <a (click)="setCurPage('sl')" class="nav-links">Sites List</a>
        </div>
        <div class="col-sm grid-item" [ngClass]="{'active': curPage === 'el'}" *ngIf="user.role === 'EquipmentDealer'">
          <a (click)="setCurPage('el')" class="nav-links">Equipments List</a>
        </div>
        <div class="col-sm grid-item" [ngClass]="{'active': curPage === 'rt'}">
          <a (click)="setCurPage('rt')" class="nav-links">Renting</a>
        </div>
      </div>
    </div>
  </div>


  <div class="container">
    <app-friend-list (newFriends)="receiveFriendList($event)" *ngIf="(user.role === 'organizer' || user.role === 'attendee') && curPage === 'ff'" [friendList] = "friends" [user] = "user" [isSame] = "isSame"></app-friend-list>
    <app-basic-information *ngIf="curPage ==='pi'" (messageEvent)="receiveMessage($event)"></app-basic-information>
    <app-events-list-for-profile (messageEvent)="receiveOrEvents($event)" *ngIf="(user.role === 'organizer' || user.role === 'attendee') && curPage === 'oa'" [type] = 'curPage' [events]="organizedEvents" [isSame] = "isSame"></app-events-list-for-profile>
    <app-events-list-for-profile (messageEvent)="receiveAtEvents($event)" *ngIf="(user.role === 'organizer' || user.role === 'attendee') && curPage === 'pa'" [type] = 'curPage' [events]="attendedEvents" [isSame] = "isSame"></app-events-list-for-profile>
    <app-discussion-list-for-profile (messageEvent)="receiveNewDiscussion($event)" *ngIf="(user.role === 'organizer' || user.role === 'attendee') && curPage === 'ds'" [discussions]="discussions" [isSame] = "isSame" [userId] = "user._id"></app-discussion-list-for-profile>
    <app-site-list-for-profile (messageEvent)="receiveNewSites($event)" *ngIf="user.role === 'SiteManager' && curPage === 'sl'" [isSame] = "isSame" [user] = "user" [sites]="mySites"></app-site-list-for-profile>
    <app-epuipment-list-for-profile  (messageEvent)="receiveNewEquips($event)" *ngIf="user.role === 'EquipmentDealer' && curPage === 'el'" [isSame] = "isSame" [user] = "user" [equips]="myEquipments"></app-epuipment-list-for-profile>
    <app-renting-list-for-profile  (messageEvent)="receiveNewRentings($event)" [rentings]="myRentings" [user] = "user" *ngIf="(user.role === 'SiteManager' || user.role === 'EquipmentDealer') && curPage === 'rt'" [isSame] = "isSame"></app-renting-list-for-profile>
  </div>

</div>




