<div>
  <div class="header">
    <h4>Number of Reservations/Renting: {{rentings.length}}</h4>
  </div>
  <div class="row">
    <div *ngFor="let rent of rentings" class="col-6">
      <div class="card">
        <div class="body">
          <div class="">
            <div id="title">
              <a class="text-muted" [routerLink]="['/eventDetail/' + rent.event._id]">
                <h4>Event: {{rent.event.title}}</h4>
              </a>
            </div>
            <div *ngIf="user.role === 'SiteManager'">
              <a class="text-muted" [routerLink]="['/eventDetail/' + rent.site._id]">
                Site: {{rent.site.title}}
              </a>
            </div>
            <div *ngIf="user.role === 'EquipmentDealer'" class="text-muted">
              <p class="fld">Equipment: {{rent.equipment.title}}</p>
              <p class="fld">Total: {{rent.equipment.quantity}}</p>
              <span class="fld">Available: {{rent.equipment.available}}</span>
              <span class="fld">Rent Quantity: {{rent.quantity}}</span>
            </div>
            <div *ngIf="isSame">
              <button id="deleteBtn" class="btn btn-danger float-right" (click)="delete(rent)">Delete</button>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
