
<div>
  <h2>Discussions({{discussions.length}})</h2>
  <div>
    <div class="card bg-light" *ngFor="let discussion of discussions">
      <app-discussion (messageEvent)="receiveMessage($event)" [discussionToChild]="discussion"></app-discussion>
    </div>
  </div>
  <div id="postDiv">
    <textarea class="form-control" placeholder="Start A new discussion" [(ngModel)] = "newContent"></textarea>
    <button id="postBtn" class="btn btn-dark float-right" (click)='postDiscussion()'>Post</button>
  </div>
</div>
