
.main-background {
  background-image: url(https://images.unsplash.com/photo-1508768516474-73606cb84ce2?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e074f33c229b735080438a384e50ada1&auto=format&fit=crop&w=2299&q=80);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 550px;

}

#main-button {
  margin-top: 25px;
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, .8),
              0 6px 30px 5px rgba(0, 0, 0, .8),
              0 8px 10px -5px rgba(0, 0, 0, .9);
  background-color: white;
  opacity: 0.9;
}

#main-text {
  text-align: center;
  padding-top: 200px;
  text-shadow: 0 8px 8px rgba(0,0,0,0.9),
                0 8px 13px rgba(0,0,0,0.8),
                0 8px 23px rgba(0,0,0,0.8);
}

#main-text h1 {
  font-weight: 700;
  font-family: 'Lato';
  color: white;
  font-size: 5em
}

#main-text h3 {
  font-family: 'Lato';
  color: white
}

#main-get-start {
  text-shadow: none;
}
