<button type="button" class="btn btn-primary" (click)="openModal(template)">Edit Meta Data</button>
<br><br>
<pre class="card card-block card-header">{{message}}</pre>
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Meta data: can only choose one time</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body text-center">

    <div>
      <label> Title </label>
      <input
        [(ngModel)]="event.title"
        class="form-control"
        placeholder="Event Title"
      />

      <label> Video link </label>
      <input
        [(ngModel)]="event.video"
        class="form-control"
        placeholder="Video link"
      />
      <form>
        <label>Event Starts:</label>
        <input
          [(ngModel)]="event.start"
          type="date"
          name="bday">
        <label>Event Ends:</label>

        <input
          [(ngModel)]="event.end"
          type="date"
          name="bday">
      </form>

      <label> Add Image </label>
      <ol>
        <li *ngFor="let img of event.photos">
          {{img}}
          <button (click)="deleteImageUrl(img)">Delete</button>
        </li>
      </ol>
      <input
        [(ngModel)]="imgUrl"
        class="form-control"
        placeholder="Image Url">
      <button (click)="addImageUrl()">Add Image</button>

    </div>
    <hr>
    <p>Do you want to confirm?</p>
    <button type="button" class="btn btn-default" (click)="confirm()" >Yes</button>
    <button type="button" class="btn btn-primary" (click)="decline()" >No</button>
  </div>
</ng-template>


<button type="button" class="btn btn-primary" (click)="openModal(template2)">Edit Description</button>
<br><br>
<pre class="card card-block card-header">{{message}}</pre>
<ng-template #template2>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Description: Edit or Add new</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <div class="content-of-modal">
      <h4>Edit current descriptions</h4>
      <span class="text-muted">drag to swich order</span>
      <div [sortablejs]='this.event.descriptions' [sortablejsOptions]="{ animation: 150 }">
        <div class="card" *ngFor="let widget of this.event.descriptions">
            <app-event-description-widget-editor
              [widget]="widget"
              (deleteEmitter)="deleteWidget($event)"
              (editEmitter)="updateWidget($event)">
            </app-event-description-widget-editor>
        </div>
      </div>

      <div class="amenity_list" *ngIf="this.event.tags.length > 0">
        <span *ngFor="let tag of this.event.tags" class="badge badge-secondary amenity_item">{{tag}}</span>
        <hr>
      </div>
    </div>
    <div>
      <h4>Add new descriptions</h4>
      <tabset>
        <tab heading="Paragraph" id="tab1">
          Basic content
          <label>Paragraph</label>
          <textarea
            [(ngModel)]="paragraph"
            class="form-control"
            placeholder="Paragraph text">
          </textarea>
          <button (click)="addParagraph()">Add Paragraph</button>
        </tab>

        <tab heading="Link">
          <div>
            <label> link url</label>
            <input
              [(ngModel)]="linkUrl"
              class="form-control"
              placeholder="Link URL">
            <button (click)="addLink()">Add Link</button>
          </div>
        </tab>

        <tab heading="List">
          <div>
            <label> List </label>
            <select class="form-control" (change)="setListType()" >
              <option value="unorderedList">Unordered list</option>
              <option value="orderedList">Ordered list</option>
            </select>
            <textarea
              [(ngModel)]="list"
              class="form-control"
              placeholder="List Item">
            </textarea>
            <button (click)="addList()">Add List</button>
          </div>
        </tab>

        <tab heading="Features">
          <div class="btn-group" dropdown>
            <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
                    aria-controls="dropdown-basic">
              Add feature tags <span class="caret"></span>
            </button>
            <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
                role="menu" aria-labelledby="button-basic">
              <li role="menuitem"><a class="dropdown-item" (click)="toggleTag('Hiking')">Hiking</a></li>
              <li role="menuitem"><a class="dropdown-item" (click)="toggleTag('Fishing')">Fishing</a></li>
              <li role="menuitem"><a class="dropdown-item" (click)="toggleTag('Biking')">Biking</a></li>
            </ul>
          </div>
        </tab>
      </tabset>
    </div>

    <hr>
    <p>Save new added widget?</p>
    <button type="button" class="btn btn-default" (click)="confirm()" >Yes</button>
    <button type="button" class="btn btn-primary" (click)="decline()" >No</button>
  </div>
</ng-template>



