
.content-of-modal .card {
  background-color: #9fcdff;
  margin: 5px;
  padding: 10px;
}

.content-of-modal .span-box {

}

.content-of-modal .delete-span {
  display: inline-block;
  margin-right: 3px;
  float: right;

}

.content-of-modal .edit-span {
  display: inline-block;
  margin-right: 4px;
  float: right;
}



.meta-div {
  margin-top: 40px;
  margin-bottom: 20px;
}

.media-container {
  border: none;
  /*max-height: 300px;*/
}

.avatar-container {
  margin-left: 10%;
  margin-bottom: 8px;
  display: inline-block;
  width: 50px;
  padding: 0;
}

.avatar {
  padding: 0;
  border-radius: 50%;
  background-image: url('https://images.unsplash.com/photo-1499996860823-5214fcc65f8f?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b6ded683923a678ad03fae323169beb4&auto=format&fit=crop&w=700&q=60');
  width: 100%;
  padding-bottom: 100%;
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

.carousel-container {
  border-radius: 25px;
  -webkit-border-radius: 20px;

  position: relative;
  /*overflow: hidden;*/
  top: 0;
  width: 100%;
  height: 100%;
}

carousel {
  width: 100%;
  height: 100%;
  position: relative;
}

/*.slide {*/
  /*width: 100%;*/
  /*height: 100%;*/
  /*position: relative;*/
/*}*/


.image  {
  padding: 0;
  border: #1b1e21 solid 2px;
  border-radius: 25px;
  background-image: url('https://images.unsplash.com/photo-1499996860823-5214fcc65f8f?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b6ded683923a678ad03fae323169beb4&auto=format&fit=crop&w=700&q=60');
  width: 100%;
  height: 100%;
  padding-bottom: 100%;
  background-size: cover;
  background-position: center;

}

.event-meda {
  border: none;
}

.iframe-pos {
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  /*border-radius: 25px;*/
}

.iframe-container {
  border-radius: 25px;
  -webkit-border-radius: 20px;
  /*position: absolute;*/
  position: relative;
  overflow: hidden;
  top: 0;
  width: 100%;
  height: 100%;
}

iframe {
  width:100%;
  height:100%;

}

.button-container i {
  color: red;
  text-shadow: 2px 2px 2px #aaa;
}

.fields {
  margin-bottom: 10px;
}

#imgUrlList {
  margin-bottom: 5px;
}

#yesBtn {
  margin-right: 20px;
}

#organizerInfoDiv {
  margin-top: 45px;
}

.editIcon {
  margin-top: 8px;
  margin-left: 30px;
  color: #e4606d;
  cursor: pointer;
}

#eventTitleDisplay {
  margin-left: 38px;
  margin-bottom: 20px;
}

.host-info {
  margin-top: 35px;
}

#youtubeIcon {
  cursor: pointer;
}

#dragInfo {
  margin-left: 20px;
  margin-top: 5px;
}

.divider {
  margin-right: 8px;
}

.widgetFields {
  margin-top: 20px;
}

#addParaBtn {
  margin-top: 5px;
}


#addListBtn {
  margin-top: 5px;
}


#desYesBtn {
  margin-right: 15px;
}

.featureTag {
  cursor: pointer;
  margin-right: 5px;
  margin-top: 10px;
}

#tagsDisplay {
  margin-left: 30px;
}


#levelDiv {
  margin-bottom: 10px;
}

.equipment-card-wrapper {
  padding-bottom: 10px;
}

#equipment-warning {
  color: grey;
}

#eventStart {
  margin-bottom: 10px;
}

#eventEnd{
  margin-bottom: 10px;
}
