
.content-of-modal .card {
  background-color: #9fcdff;
  padding: 10px;
}

.content-of-modal .span-box {

}

.content-of-modal .delete-span {
  display: inline-block;
  margin-right: 3px;
  float: right;

}

.content-of-modal .edit-span {
  display: inline-block;
  margin-right: 4px;
  float: right;
}


/*.my-modal {*/
  /*border: solid 4px blue;*/
/*}*/

/*.my-modal .modal-header {*/
  /*background-color: lime;*/
  /*color: red;*/
/*}*/

/*.my-modal .modal-body {*/
  /*background-color: orange;*/
/*}*/

/*.my-modal .modal-body div {*/
  /*padding: 10px;*/
/*}*/
